.message-wrapper--their {
  justify-content: flex-start;
}

.message-wrapper--their .underline {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

.message-wrapper--their .message {
  margin-right: 0;
  padding: 7px 18px;
  padding-right: 50px;
  background-color: #303030;
  border-radius: 20px;
}

.message-wrapper--their .text {
  color: #dedede;
}
